<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 配置和spu_options相关的bean -->
	<!-- 配置Action -->
	<bean id="spu_optionsAction" class="action.Spu_optionsAction">
		<property name="spu_optionsService" ref="spu_optionsService"></property>
	</bean>
	<!-- 配置dao -->
	<bean id="spu_optionsDao" class="dao.imple.Spu_optionsDaoImple">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- 配置service -->
	<bean id="spu_optionsService" class="service.imple.Spu_optionsServiceImple">
		<property name="spu_optionsDao" ref="spu_optionsDao"></property>
	</bean>
</beans>