<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 配置和sku_picture相关的bean -->
	<!-- 配置Action -->
	<bean id="sku_pictureAction" class="action.Sku_pictureAction">
		<property name="sku_pictureService" ref="sku_pictureService"></property>
	</bean>
	<!-- 配置dao -->
	<bean id="sku_pictureDao" class="dao.imple.Sku_pictureDaoImple">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- 配置service -->
	<bean id="sku_pictureService" class="service.imple.Sku_pictureServiceImple">
		<property name="sku_pictureDao" ref="sku_pictureDao"></property>
	</bean>
</beans>