.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

input,
button {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
img{
    vertical-align: top;
/*    去除图片底侧缝隙 图片和文字基线对齐 */
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    /*    BFC可以清楚浮动*/
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/*改变placeholder字体颜色-开始*/
input::-webkit-input-placeholder {
	color: #cacaca;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #cacaca;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #cacaca;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #cacaca;
}

/* 点击搜索框获取焦点 placeholder消失-开始 */
/* WebKit browsers */
input:focus::-webkit-input-placeholder {
color: transparent;
/* transparent是全透明黑色(black)的速记法，即一个类似rgba(0,0,0,0)这样的值 */
}
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
color: transparent;
}
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
color: transparent;
}
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
color: transparent;
}
/* 点击搜索框获取焦点 placeholder消失-结束 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?rpw8gf');
    src: url('../fonts/icomoon.eot?rpw8gf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rpw8gf') format('truetype'),
        url('../fonts/icomoon.woff?rpw8gf') format('woff'),
        url('../fonts/icomoon.svg?rpw8gf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*版心*/
.w {
    width: 1190px;
    margin: auto;
}

.style-red {
    color: #f10215 !important;
}

body {
    background-color: #f6f6f6;
}

/*京东 顶部 start*/
.J_event {
    background-color: #f7d7c0;
}

.J_event .J_event_img {
    display: block;
    height: auto;
    position: relative;
}

.J_event .J_event_close{
    height: 15px;
    width: 15px;
    position: absolute;
    right: 82px;
    top: 3px;
    color: white;
    background: url(../image/index.png) no-repeat;
}
.J_event .J_event_close:hover{
    background-position: -15px 0;
}
/*京东 顶部 end*/
/*导航开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #DDDDDD;
    color: #9d9d9d;
    font-size: 12px;
}

.shortcut a {
    color: #9d9d9d;
    font-size: 12px;
    text-decoration: none;
}

.shortcut a:hover {
    color: #c81632;
}

.shortcut .fl li {
    margin-left: 200px;
    height: 30px;
    overflow: hidden;
}

.shortcut .fr li {
    float: left;
}

.pos {
    font-family: "icomoon";
    font-style: normal;
    font-size: 14px;
    color: #f10215;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 10px 0px;
    float: left;
}

.dropdown {
    padding-right: 15px;
    position: relative;
/*    background-color: aqua;*/
}

.dropdown i {
    font-family: "icomoon";
    font-style: normal;
    font-size: 16px;
    position: absolute;
    right: -2px;
    top: 1px;
}

.erweima {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    padding: px;
    position: absolute;
    left: -8px;
    right: 35px;
    overflow: hidden;
    /*    display: none;*/
}

/*导航结束*/
/*hearder开始*/
.header {
    height: 140px;
    /*background-color: #800080;*/
}

.inner {
    height: 140px;
    /*    background-color: pink;*/
    position: relative;
}
/*logo部分*/
.logo {
    height: 170px;
    width: 190px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: purple;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.logo h1 {
    padding: 0px;
    margin: 0;
}

.logo a {
    display: block;
    height: 170px;
    width: 190px;
    background: url(../image/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
/*横向logo部分*/
.h_logo{
	width: 170px;
    height: 60px;
    position: absolute;
    top: 16px;
    left: 59px;
}
.h_logo a{
	display: block;
    width: 170px;
    height: 60px;
    background: url(../image/logo3.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.h_logo h1 {
    margin: 0;
    padding: 0;
}

.search {
    width: 550px;
    height: 35px;
    /*background-color: purple;*/
    position: absolute;
    left: 320px;
    top: 25px;

}

.search input {
    width: 493px;
    height: 33px;
    border: 1px solid #b22d00;
    padding: 0 0 0 5px;
    outline: none;
    color: #989898;
    float: left;
}

.search button {
    width: 50px;
    height: 35px;
    background: #f10215;
    float: left;
    /*    鼠标变小手*/
    cursor: pointer;
    outline: none;
}

.search i {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: white;
}

.search em {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 9px;
    right: 65px;
    width: 19px;
    height: 15px;
    cursor: pointer;
}

.search em:hover {
    color: #f10215;
}

.hotwords {
    position: absolute;
    top: 70px;
    left: 320px;
}

.hotwords a {
	display: block;
	float: left;
	margin-left: 15px;
    color: #9e9b99;
    font-size: 12px;
}

.hotwords a:hover {
    color: #f10215;
}

.mycar {
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 100px;
    text-align: center;
    line-height: 33px;
}

.mycar a {
    font-size: 14px;
    color: #f10215;
}

.mycar i {
    font-family: "icomoon";
    font-style: normal;
    color: #f10215;
    margin: 3px;
}

.mycar s {
    position: absolute;
    top: 5px;
    left: 145px;
    text-decoration: none;
    background-color: #f10215;
    /*    width: 12px;*/
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 3px;
    border-radius: 7px;
    color: #fff;
}

.navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
}

.navitems ul {
    float: left;
}

.navitems ul li {
    float: left;
    margin-left: 30px;
}

.navitems ul li a {
    font-size: 16px;
    color: #555A5F;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    display: block;
}

.navitems ul li a:hover {
    color: #f10215;
}

.navitems .spacer {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
}
/*//全部分类*/
.ng_sort{
	position: absolute;
	width: 194px;
	background-color: #d13030;
    top: 102px;
    left: 0;
}

.ng_all_hook{
	width: 163px;
    line-height: 38px;
    font-size: 13px;
    left: 0;
    top: 0;
    padding-left: 27px;
    color: #FFF!important;
    font-weight: 400;
    font: 16px/38px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-decoration: none;
}
.ng_all_hook i{
	font-family: "icomoon";
	font-style: normal;
}
.ng_all_hook span{
	color: #fff;
	font-weight: normal;
} 
/*hearder结束*/
/*footer开始*/
.footer {
    height: 560px;
    background-color: #eaeaea;
}

.footer-service {
    height: 100px;
    border-bottom: 1px solid #DEDEDE;
}

.footer-service-inner {
    /*    height: 100px;*/
    /*    background-color: pink;*/
    padding: 30px 0;
}

.footer-service-inner li {
    float: left;
    width: 297px;
    height: 42px;
    /*    background-color: purple;*/
}

.service_unit {
    width: 225px;
    height: 42px;
    margin: 0 auto;
    position: relative;
}

.service_unit h5 {
    width: 36px;
    height: 42px;
    /*    background-color: blue;*/
    position: absolute;
    top: 0;
    left: 0;
    background: url(../image/ico_service.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.service_unit p {
    line-height: 42px;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 700;
}

.service_unit .kuai {
    background-position: 0 -44px;
}

.service_unit .hao {
    background-position: 0 -86px;
}

.service_unit .sheng {
    background-position: 0 -128px;
}

.help {
    height: 180px;
/*    background-color: pink;*/
    padding-top: 20px;

}

.help dl {
    float: left;
    width: 195px;
}

.help dt {
    font-size: 14ox;
    font-weight: 700;
    color: #666;
    height: 30px;

}

.help dd {
    height: 22px;
}

.help dd a {
    color: #727272;
    font-size: 12px;
}

.help dd a:hover {
    color: #f10215;

}

.help mayun:hover {
    color: #727272;
    font-size: 12px;
}

.help .cover {
    float: right;
    width: 207px;
    height: 150px;
    background: url(../image/ico_footer.png) no-repeat;
}

.cover dt {
    text-align: center;
}

.help .info {
    width: ;
    : 175px;
    height: 50px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 18px;
    color: #727272;

}

.more {
    text-align: right;
    padding-right: 10px;
}

/*footer结束*/
/*版权模块start*/
.copyright {
    border-top: 1px solid #ccc;
    padding-top: 12px;
}

.links {
    text-align: center;
}

.links a {
    color: #727272;
    font-size: 12px;
}
.links a:hover{
    color: #f10215;
}
.links span {
    font-size: 12px;
    color: #d4cdcd;
    margin: 0 6px;
}

.c-info {
    font-size: 12px;
    color: #9e9e9b;
    text-align: center;
    line-height:20px;
    margin-top: 10px;
}
.tupian{
    text-align: center;
    margin-top: 10px;
}
.tupian a{
    width: 103px;
    height: 32px;
    display: inline-block;
    background:url(../image/ico_footer.png) no-repeat 0 -151px;
}
.tupian .kexin{
    background-position: -104px -151px;
}
.tupian .wangluo{
    background-position: 0 -183px ;
}
.tupian .chengxin{
    background-position: -104px -183px;
}
.tupian .zhongguo{
    background-position: 0 -215px;
}

/*版权模块end*/
