h1,a,ul,li{
	margin: 0;
	padding: 0;
}
a:hover{
	color: #df3028;
}
.ad-ba{
	/*position: relative;*/
	margin-bottom: 10px;
    overflow: hidden;
}
.mod-comm {
    padding: 10px 20px 20px;
}
.mod-main {
    padding: 10px;
    background-color: #fff;
    margin: 0 0 0 170px;
    
}
.ma{
	position: relative;
	margin: 10px 0 0 170px;
}
.mt{
	padding: 10px 0 10px 10px;
}
.mc{
	padding: 0 0 0 10px;
}
.address-title {
       font-size: 16px;
    font-weight: 700;
    color: #666;
    padding: 10px 12px;
    background-color: #fafafa;
}

a.add-btn {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin: 0 10px 0 0;
}
.btn-5, .btn-6, .btn-7, .btn-8 {
    background-color: #f5fbef;
    background-image: -moz-linear-gradient(top,#f5fbef,#eaf6e2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5fbef),color-stop(1,#eaf6e2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2', GradientType='0');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbef', endColorstr='#eaf6e2');
    background-image: linear-gradient(to bottom,#f5fbef 0,#eaf6e2 100%);
    border-radius: 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bfd6af;
    padding: 2px 14px 3px;
    color: #323333;
}
.easebuy-m {
    border: 2px solid #e6e6e6;
    margin: 0 0 10px;
}
.easebuy-m .smt {
    padding-left: 10px;
    line-height: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    display: block;
    overflow: visible;
}
.easebuy-m .smt h3 {
    float: left;
    color: #666;
}.easebuy-m .smt .extra {
    float: right;
    margin: 0 10px 0 0;
}
.easebuy-m .smt .extra .del-btn {
    margin-top: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 13px;
    height: 13px;
    text-indent: 2em;
    background: url(//misc.360buyimg.com/user/myjd-2015/css/i/close.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
}
.easebuy-m .smc {
    padding: 10px;
    line-height: 22px;
    width: 788px;
}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}
.easebuy-m .smc .new-items {
    position: relative;
    width: 788px;
}
.easebuy-m .smc .item-lcol {
    width: 450px;
    float: left;
}
.easebuy-m .smc .item span {
    float: left;
    width: 70px;
    color: #999;
    text-align: right;
}
.easebuy-m .smc .item-lcol .fl {
    width: 360px;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.easebuy-m .smc .item-rcol {
    width: 320px;
    float: left;
    padding-left: 10px;
    height: 100%;
}
.easebuy-m .smc .item-rcol .extra {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ftx-05, .ftx05 {
    color: #005ea7;
}

.ml10 {
    margin-left: 10px;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

