h2,
h3 {
    font-size: 14px;
}

/*header部分*/
.header .logo {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    margin-top: 2px;
    width: 0;
    height: 0;
    background-size: 134px 42px;
    text-indent: -20000px;
}

.header .logo a {
    position: absolute;
    top: -25px;
    left: 0;
    display: inline;
    width: 134px;
    height: 42px;
    background: url(../image/logo2.png) no-repeat -195px 0;
    text-indent: -20000px;
}

/*//全部分类*/
.ng_sort .classification{
	display: none;
}
.mod_container{
	z-index: 1;
}
.first-screen {
    position: relative;
    display: block;
    height: 460px;
}

.ng_all_hook {
    width: 186px;
    font: 16px/38px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    /*background: #F10215;*/
    padding-left: 35px;
}

.jiadian_nav {
    width: 194px;
    position: absolute;
    top: 0;
    left: 0;
    height: 460px;
    z-index: 6;
    background-color: #dd4545;
}

.jiadian_nav_body {
    width: 100%;
    height: 408px;
    position: relative;
    *zoom: 1;
}

.jiadian_nav_body .item {
    height: 63px;
    padding: 2px 0 0 2px;
}

.jiadian_nav_body .item_header {
    padding: 9px 15px 9px 14px;
    width: 163px;
    height: 45px;
    position: relative;
    *z-index: 22;
}

.jiadian_nav_icons_arrow {
    display: block;
    background-repeat: no-repeat;
    background-image: url( //misc.360buyimg.com/channel/jiadian/2.0.2/home/images/icons-s8357a93794.png);
        background-position: 0 0;
    height: 9px;
    width: 6px;
    position: absolute;
    right: 14px;
    top: 17px;
}

.jiadian_nav_body .item_header_title {
    margin-bottom: 5px;
    position: relative;
    height: 20px;
    font-weight: 700;
}

.jiadian_nav_icons_1 {
    background-position: 0 -253px;
}

item_hover .jiadian_nav_icons_7, .jiadian_nav_icons_1 {
    background-repeat: no-repeat;
    background-image: url( //misc.360buyimg.com/channel/jiadian/2.0.2/home/images/icons-s8357a93794.png);
        height: 20px;
    width: 22px;
}

.jiadian_nav_icons {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.jiadian_nav_body .item_header_title a {
    color: #fff;
}

.jiadian_nav_body .item_header_sublinks {
    font-size: 12px;
    color: #fff;
    height: 20px;
    width: 100%;
    *zoom: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jiadian_nav_body .item_header_sublinks_link {
    font-size: 12px;
    color: #fff;
    margin-right: 8px;
    margin-left: 8px;
}

.jiadian_nav_icons_2, .jiadian_nav_icons_3, .jiadian_nav_icons_4, .jiadian_nav_icons_5, .jiadian_nav_icons_6, .jiadian_nav_icons_7 {
    background-repeat: no-repeat;
    background-image: url( //misc.360buyimg.com/channel/jiadian/2.0.2/home/images/icons-s8357a93794.png);
        height: 20px;
    width: 22px;
}

.jiadian_nav_icons_2 {
    background-position: 0 -365px;
}

.jiadian_nav_icons_3 {
    background-position: 0 -309px;
}

.jiadian_nav_icons_4 {
    background-position: 0 -421px;
}

.jiadian_nav_icons_5 {
    background-position: 0 -113px;
}

.jiadian_nav_icons_6 {
    background-position: 0 -169px;
}

.jiadian_nav_icons_7 {
    background-position: 0 -225px;
}

/*nav右侧*/

/*家电楼层1F*/
.double-comm {
    position: relative;
    /*        width: 1190px;*/
    /*    margin: 20px 10px 10px 10px;*/
    overflow: hidden;
}

.double-comm .comm-wrap {
    position: relative;
    float: left;
    width: 590px;
    height: 690px;
    margin-right: 5px;
    background: #eee;
}

.title h5 {
    height: 37px;
    line-height: 37px;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px solid #333;
    margin-left: 15px;
}

.double-comm .content {
    position: relative;
    width: 100%;
    height: 658px;
    overflow: hidden;
}

.double-comm .content>div {
    margin-right: -5px;
}

.double-comm .content .lg {
    height: 439px;
    background: #e1e8fa;
}

.double-comm .comm {
    position: relative;
    float: left;
    width: 196px;
    height: 219px;
    margin-right: 1px;
    margin-bottom: 1px;
    background: #fff;
}

.double-comm .content .lg {
    height: 439px;
    background: #e1e8fa;
}

.double-comm .pic img {
    position: absolute;
    width: 196px;
    height: 220px;
    margin-top: -1px;
}

.double-comm .good img {
    width: 140px;
    height: 140px;
    margin-left: 27px;
    margin-top: 10px;
}

.double-comm .good .desc {
    width: 156px;
    height: 32px;
    color: #666;
    font: 12px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    margin-left: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.double-comm .good .price em {
    display: inline-block;
    font-size: 12px;
    margin-right: 3px;
}
.double-comm .good .price {
    color: #f40;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
/*生活家電*/
.new-tab .left-info {
    float: left;
    width: 238px;
    height: 580px;
    background: #6996fc;
    border-top: 2px solid #3664db;
}
.new-tab .left-info .top a {
    display: block;
}
.new-tab .left-info .bot ul .first {
    position: relative;
    margin: 11px 0 8px 18px;
}
.new-tab .left-info .bot ul li {
    margin-left: 20px;
    margin-bottom: 7px;
}
.new-tab .left-info .bot ul .first em {
    position: absolute;
    display: block;
    width: 3px;
    height: 14px;
    left: -8px;
    top: 5px;
    background: #fff;
}
.new-tab .left-info .bot ul .first p {
    height: 22px;
    color: #fff;
    font: 16px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.new-tab .left-info .bot ul li a {
    display: block;
    width: 210px;
    height: 17px;
    color: #fff;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-tab .pro-tab {
    position: relative;
    float: left;
    width: 952px;
    height: 580px;
    background: #f2f2f2;
    border-top: 2px solid #3664db;
}
.new-tab .pro-tab .tab-nav4 {
    margin-bottom: 1px;
}

.new-tab .pro-tab .tab-nav4 ul li {
    float: left;
    height: 36px;
    background: #fff;
}
.new-tab .pro-tab .tab-nav4 ul .cur {
    background: #e9edf7;
}
.new-tab .pro-tab .tab-nav4 ul li p {
    display: block;
    width: 190px;
    color: #333;
    text-align: center;
    font: 14px/36px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.new-tab .pro-tab .tab-nav4 .cur p{
	color: #3664db;
}
.tab-content-wrap {
    position: relative;
}
.new-tab .pro-tab .tab-content4 {
    height: 542px;
    overflow: hidden;
}
.new-tab .pro-tab .tab-content4 ul {
    margin-right: -10px;
}
.new-tab .pro-tab .tab-content4 ul li {
    position: relative;
    float: left;
    width: 238px;
    height: 272px;
    margin: 0 1px 1px 0;
    background: #fff;
}
.new-tab .pro-tab .tab-content4 ul .img-box img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
.new-tab .pro-tab .tab-content4 ul li img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px 37px 10px 41px;
}
.new-tab .pro-tab .tab-content4 ul li .name {
    width: 206px;
    height: 40px;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 20px;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.new-tab .pro-tab .tab-content4 ul li .desc {
    width: 206px;
    height: 17px;
    color: #3664db;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 20px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-tab .pro-tab .tab-content4 ul li .price {
    color: #f40;
    font-size: 12px;
    margin-left: 20px;
}
.new-tab .pro-tab .tab-content4 ul li .price span {
    font-size: 16px;
}
a, body {
    color: #333;
}

/*footer*/
